body {
    margin: 10px;
    height: 90vh;
}

.center  {
  margin-top: 0.9%;
  z-index: 1000;
  font: 25px Arial, Helvetica, sans-serif;
  width: fit-content;
  margin-left: 20%;
  background: #fff;
  border-radius: 5px;
  padding: 6px 10px 6px 6px;
}

.split-container {
    margin-top: 0.5%;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.split-left,.split-right {
    flex: 1;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.split-left {
    background-color: #f6f7fa;
    background-image: url('../img/county_comparison.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    border: 2px solid grey;
}

p {
    line-height: 30px;
    position: absolute;
    bottom: 40px;
}

.split-right {
    background-color: #f6f7fa;
    background-image: url('../img/county_specific.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    border: 2px solid grey;
}

.split-left:hover {
    background-color: #cbeaeb;
    opacity: .5;
    border: 2px solid rgb(146, 205, 223);
}

.split-right:hover {
    background-color: #cbeaeb;
    opacity: .5;
    border: 2px solid rgb(146, 205, 223);
}

.footer  {
  z-index: 1000;
  width: fit-content;
  margin-left: 45%;
  background: #fff;
}
